<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/css/userLoigin.css">
{{!--  --}}
<style>
	.header:hover{
         background-color: rgb(213, 135, 39);
	}
</style>
	</head>
	<body class="img js-fullheight" style="background-image: url(https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); background-size:cover; overflow-y: hidden;">
	<section class="ftco-section">
		<div class="container d-flex justify-content-center align-items-center p-4">


			<div class="container">
			
			<div class="row justify-content-center">

				{{!-- <div class="d-flex justify-content-center" style="margin-top:-80px;">
					<h1 style=" color: #fff;">Welcome To Coza Store</h1>
				</div> --}}
				<div class="col-md-6 col-md-4 border p-lg-5 shadow p-3 mb-5 rounded"  style="background-image: url(https://i.pinimg.com/originals/e8/ab/83/e8ab83923295950ea0456f39aed9f5f6.jpg); background-size:cover; overflow-y: hidden;">

					<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-3">
					<h1 class="heading-section">Sign In</h1>
				</div>
			</div>
              
			 
			  {{#if userloginErr}}
			  <p class="text-white text-center bg-danger">Invalid Email or Password</p>
			   {{/if}}

			   {{#if blockErr}}
              <p class="text-white text-center bg-danger">You are Blocked</p>
			  {{/if}}

					<div class="login-wrap p-0">
		     	
		      	<form action="/login" method="post" class="signin-form">
		      		<div class="form-group">
		      			<input type="email" class="form-control" name="email" placeholder="Email" required>
						<span id="names" class="text-danger"></span>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" name="password" class="form-control" placeholder="Password" required>
				  <span id="passwords" class="text-danger"></span>
	              
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3 hover">Sign In</button>
	            </div>
				<div class="d-flex justify-content-center mb-3">
					<span >Are you new here? <a class="text-decoration-none" href="/signup">Signup</a></span>
				</div>
	          </form>
	          <p class="w-100 text-center">&mdash; OR &mdash;</p>
	          <div class="social d-flex text-center">
			<a href="/otplogin" class="btn bg-transparent text-white" >OTP Verification</a>
	         </div>
		      </div>
				</div>
			</div>
			</div>
		</div>
	</section>

	{{!-- <script>
        

        // validation

        var Name = document.getElementById('names')
        var Email = document.getElementById('emails')
        var Password = document.getElementById('passwords')
        var Phone = document.getElementById('phones')
        function validEmail() {
            const email = document.getElementById('email').value
            if (email == "") {
                Email.innerHTML = "enter your email address"
                return false
            }
            if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                Email.innerHTML = 'enter a proper email adress'
                return false
            }
            Email.innerHTML = null
            return true
        }       
        function validName() {
            
            const name = document.getElementById('name').value;
            if (name == "") {
                Name.innerHTML = 'Enter your Name'
                return false
            }
            if (!name.match(/^[a-zA-Z\s-, ]+$/)) {
                Name.innerHTML = 'Numbers and symbols are not allowed'
                return false
            }
            if(name.length < 3){
                Name.innerHTML = "Name must be three characters long"
                return false
            }
            Name.innerHTML = null
            return true
        }
        
        function validPhone() {
            const phone = document.getElementById('phone').value
            if (phone == "") {
                Phone.innerHTML = "enter a phone number"
                return false
            }
            if (!phone.match(/^\d{10}$/)) {
                Phone.innerHTML = "phone number should be  10 digits "
                return false
            }
            Phone.innerHTML = null
            return true
        }
        function validPassowrd() {
            const password = document.getElementById('password').value
            if (password == "") {
                Password.innerHTML = "enter password"
                return false
            }
            if (password.length < 6) {
                Password.innerHTML = "password should be more than six characters"
                return false
            }
            Password.innerHTML = null
            return true
        }
        function validation() {
            if (!validEmail() && !validName() && !validPassowrd() && !validPhone()) {
                return false
            } else if (!validEmail() || !validName() || !validPassowrd() || !validPhone() ) {
                return false
            }else { return true }
        }
    </script> --}}

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

